
.logo-header img{
    width: 420px;
    height: auto;
    object-fit: contain;
}
.header-section{
    padding: 0px;
}
.menu-item{
    position: relative;
}
.menu-dropdown-content{
    flex-direction: column;
    position: absolute;
    display: none;
}
.menu-dropdown-content a{
    width: 126px;
    padding: 8px;
}
.menu-item:hover .menu-dropdown-content{
    display: flex;
    z-index: 999;
    color: white;
}

.nav-item a{
    background-color: #74a044;
    color: white !important;
}
.nav-item a:hover{
    background-color: #bcee86;
}
.nav-item:last-child{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
.nav-item:first-child{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.navbar-menu-icon{
    align-self: flex-end;
    outline: unset;
    outline-style: unset;
}


/* Topic Menu Right Home */
.topicMenuRight{
    margin-bottom: 0px !important;
    background-color: #2eb174b5;
}
.topicMenuRight:hover{
    background-color:#bcee86;
}
.topicMenuRight:hover h5{
    color: black;
}
.topicMenuRight h5{
    padding: 12px;
    color: white;
}

/* Home */
.view-count{
    /* background-color: #2eb174b5;
    width: 50px;
    height: 50px; */
}
.shadow-desc .view-count a{
    color: #2eb174b5 !important;
}
.view-count i{
    font-size: 12px;
    color: #2eb174b5 !important;
    padding: 12px;
}

.form-error-message{
    color:red;
}

.form-success-message{
    color:rgb(44, 104, 194);
}

.pagination-wrapper nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
}
.pagination-wrapper nav ul li{
    margin-bottom: 10px;
}
.pagination-wrapper nav ul li:hover{
    opacity: 0.6;
}


/* Responsive */

@media only screen and (max-width: 992px){
    .navbar-nav{
        display: none;
    }
}

@media only screen and (max-width: 768px){
    .post-media a img{
        width: 100% !important;
        height: auto !important;
    }
  }
